# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

ts/.vite

# Build 
Cargo.lock
target
pkg
dist
out
result
*.tsbuildinfo
/.direnv

# Secrets
*.mp4
*.fmp4
*.crt
*.key
*.hex
*.jwk
*.jwt
dev/cert.pem
dev/key.pem
